/*====================HTML=========================*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --background-btn-color: #f5f4fa;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --black-color: #000000;
  --main-color: #212121;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --pj-border-color: #eeeeee;
  --social-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
}
body {
  font-family: var(--main-font);
}
.active {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo-black {
  color: var(--black-color);
}
.logo-white {
  color: var(--header-background-color);
}
.active {
  color: var(--accent-color);
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}
/*====================end HTML=========================*/
/*====================HEADER===========================*/
.main-header {
  background-color: var(--header-background-color);
  border: 1px solid var(--border-color);
}
.main-header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}
.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition-property: color, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  opacity: 1;
  background-color: var(--accent-color);
}

.tel-mail-link {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link:hover svg,
.contact-link:focus svg {
  fill: var(--accent-color);
}
.contact-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  bottom: -1px;
  transition-property: color, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover::after,
.contact-link:focus::after {
  display: block;
  background: var(--accent-color);
  opacity: 1;
}
.address-head-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address-list-head-item {
  margin: 0;
  padding: 0;
}
.address-list-head-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  animation-name: backInLeft;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.contact-icon {
  fill: var(--secondary-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*====================end HEADER===========================*/
/*====================HERO SECTION===========================*/
.hero-section {
  text-align: center;
  margin: 0 auto;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1600px;
}
.hero-section .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: var(--main-font);
  display: inline-block;
  min-width: 200px;
  padding: 12px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--header-background-color);
  background-color: var(--accent-color);
}
/*====================end HERO SECTION===========================*/
/*====================ABOUT SECTION===========================*/
.about {
  padding-bottom: 47px;
  padding-top: 94px;
}
.benefits-item {
  width: 270px;
  margin-left: 30px;
}
.benefits-list {
  margin-left: -30px;
}
.title-benefit {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.benefits-about {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  width: 270px;
}
.about .container .list {
  display: flex;
  align-items: center;
}
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/*====================end ABOUT SECTION===========================*/
/*====================WHAT WE DO SECTION===========================*/
.img-wht-we-do {
  display: block;
}
.we-do-section {
  padding-top: 47px;
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.we-do-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}
.we-do-list-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.what-we-do-overlay {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
/*====================end WHAT WE DO SECTION===========================*/
/*====================OUR TEAM SECTION===========================*/
.our-team-img {
  display: block;
}
.our-team-section {
  background-color: var(--background-btn-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.our-team-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.our-team-list-item {
  flex-basis: calc(100% / 4 - -30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-card-format {
  padding: 30px 32px;
}
.our-team-duty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--header-background-color);
  background-color: var(--accent-color);
}

/*====================end OUR TEAM SECTION===========================*/
/*====================CUSTOMERS===========================*/
.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.customer-list-item {
  width: 170px;
  height: 90px;
}

.customer-list-item:not(:last-child) {
  margin-right: 30px;
}

.customer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  fill: var(--social-color);
  border: solid 1px var(--social-color);
  border-radius: 4px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-link:hover,
.customer-list-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
/*====================end CUSTOMERS===========================*/
/*====================PORTFOLIO===========================*/
.pf-img {
  display: block;
}
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--background-btn-color);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-list:not(:last-child) {
  margin-right: 8px;
}
.pf-section {
  padding-top: 100px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.pf-project-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.pf-pj-list {
  flex-basis: calc(100% / 3 - 30px);
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.06),
    0px 0px 0px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-pj-list:hover,
.pf-pj-list:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-project-format {
  padding: 20px 24px;
  border: 1px solid var(--pj-border-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-project-title {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.pf-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  width: 322px;
  height: 30px;
}
.pj-content-wrapper {
  position: relative;
  overflow: hidden;
}
.pf-pj-link:hover .overlay,
.pf-pj-link:focus .overlay {
  transform: translateY(0%);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-pj-link:hover,
.pf-pj-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pf-pj-link {
  text-decoration: none;
}
.overlay {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
  color: var(--header-background-color);
  height: 100%;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*====================end PORTFOLIO===========================*/
/*====================FOOTER===========================*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  margin-right: 70px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.address-footer-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.section-footer-social-icon {
  width: 206px;
  height: 80px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  margin-right: 93px;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
  margin-bottom: 20px;
}
.footer-social-link-icon:not(:last-child) {
  margin-right: 10px;
}
.address-footer-link-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--header-background-color);
  background-color: var(--accent-color);
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--header-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-tel-mail-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel);
}
/*====================end FOOTER===========================*/
/*====================FOOTER FORM===========================*/
.footer-form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
}
.footer-form-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--header-background-color);
  background-color: var(--accent-color);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.footer-form-btn-icon {
  margin-left: 12px;
  fill: var(--header-background-color);
}
/*====================end FOOTER FORM===========================*/
/*====================MAIN FORM===========================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity, visibility, pointer-events;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--header-background-color);
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-item {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-comment {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--main-color);
  cursor: pointer;
}
.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/mark.svg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border: none;
}

.modal-form-term:focus + .modal-form-check-desc::before {
  outline: 1px solid var(--secondary-color);
}

.modal-form-btn {
  align-self: center;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: var(--header-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*====================end MAIN FORM===========================*/
